<div class="container">


  <nav class="navbar" role="banner">



    <a href="#" class="brand"></a>



    <ul class="nav-menu">

      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="add-new-employee">Add new employee</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="/delete-employee">Delete</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="/all-employees">All employees</a></li>

    </ul>

    <router-outlet> </router-outlet>
  </nav>
</div>